* {
    font-family: var(--fuente);
}

header {
    background: #8c1515;
    max-width: 250px;
}

nav#headerNav {
    background-color: var(--gris-oscuro);
    width: 250px;
    height: 100%;
    padding: 5px;

}

#headerNav .nav-link {
    color: var(--dorado);
    background: var(--gris-claro);
    width: 250px;
    margin-left: -15px;
    text-align: center;

}

#headerNav .nav-link:hover {
    filter: opacity(.9)
}

.LOGO{
    width: 250px;
    height: 75px;
    margin-top: 3px;
    margin-left: -12px;
}

.menu {
    color: var(--light);
    text-align: center;
    margin-left: -10px;
    margin-top: 40px;

}

#headerAbove .buscar {
    width: 90px;
    height: 10px;


}