:root
{
    --azul:#2874A6;
    --dorado:#B7950B;
    --light: #dddddd;
    --gris-oscuro:#222222;
    --gris-claro:#333333;
    --fuente:'Tilt Neon', cursive;
}
* {
    font-family: var(--fuente);
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
}
header
{
    height:100%;
    width:100%;
}

#headerAbove
{
    background-color:var(--azul);
}
#headerAbove .buscar
{
    width:100%;
    height:40px;
    border-radius:5px;
}
#headerAbove .btnbuscar
{
    width:30%;
    height:40px;
    border-radius:5px;
    background-color:var(--dorado);
}
nav#headerNav
{
    background-color:var(--gris-oscuro);
}

#headerNav .nav-link {
    padding: 10px;
    color: var(--dorado);
    background: var(--gris-claro);
}

#headerNav .nav-link:hover {
    filter: opacity(.9)
}

#pageTitle {
    padding: 20px;
}

#pageTitle h1 {
    font-size: 48px;
    border-bottom: 4px solid var(--azul);
    width: fit-content;
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.div-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: var(--gris-oscuro);
    color: var(--light);
    padding: 8px;
    margin-top: auto;
}
/* Estilos para la sección de inicio de sesión */

.login-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    background-color: #FFF;
}
.login-form h2 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 24px;
}
.login-form .form-group {
    margin-top:15px;
}
.login-form .form-control, .login-form .btn {
    min-height: 38px;
    border-radius: 2px;
}
.login-form .btn {        
    font-size: 15px;
    font-weight: bold;
}
.forgot-password {
    text-decoration: underline;
}
.login-icon {
    display: block;
    margin: 0 auto;
    font-size: 48px;
    text-align: center;
}

.register-form {
    width: 65%;
}