:root
{
    --azul:#2874A6;
    --dorado:#B7950B;
    --gris-oscuro:#1C2833;
    --gris-claro:#2C3E50;
    --fuente:'Tilt Neon', cursive;
}
* {
    font-family: var(--fuente);
}
header
{
    height:100%;
    width:100%;
}

#headerAbove
{
    background-color:var(--azul);
}
#headerAbove .buscar
{
    width:100%;
    height:40px;
    border-radius:5px;
}
#headerAbove .btnbuscar
{
    width:30%;
    height:40px;
    border-radius:5px;
    background-color:var(--dorado);
}
nav#headerNav
{
    background-color:var(--gris-oscuro);
}

#headerNav .nav-link {
    color: var(--dorado)
}

#headerNav .nav-link:hover {
    filter: opacity(.9)
}